<%-include('partials/header')  %>
<%-include('partials/navbar')  %>
    

    <!-- Formulario para crear publicaciones -->
    <div class="encabezado">
        <div class="row">            
            <div class="col-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Logo_lpf_afa.png/171px-Logo_lpf_afa.png" alt="LPF ESCUDO">
            </div>
            <div class="col-10">
                <h1 class="display-2 font-weight"> <strong>Foro Liga Profesional de Fútbol</strong> </h1>
                <h4>Bienvenidos al foro! En este espacio apasionante, celebramos la pasión que late en el corazón de cada hincha de fútbol argentino. Desde los canchas de la Primera División hasta los recuerdos inolvidables de la historia de nuestra selección nacional, acá vas a encontrar un rincón virtual donde compartir, debatir y vivir el fútbol como nunca antes.</h4>
                <!-- <span class="nav justify-content-center border-top px-3 mx-3 py-3 my-3"></span> -->
            </div>

        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center py-3">Equipos de nuestro fútbol</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <main class="gap-2 d-flex flex-column" id="lista-publicaciones">
                    
                    
                </main>
            </div>
        </div>
    </div>




<script src="/js/home.js"></script>

  <%-include('partials/footer')  %>